<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDm3OOje_vhoP1JpLyjlIn4_0l3jYLMPUY</string>
	<key>GCM_SENDER_ID</key>
	<string>973690145508</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zeroapp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>zero-flutter-2023</string>
	<key>STORAGE_BUCKET</key>
	<string>zero-flutter-2023.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:973690145508:ios:486eaba893cf347978baf1</string>
</dict>
</plist>